.navbar-brand {
    font-size: 32px;
}


.img {
    margin: 5px auto;
}

.navbar {
    margin-bottom: 20px;
}

.navbar li {
    margin: 5px;
}

body {
    font-family: 'Montserrat';
}

th {
    font-size: 20px;
}

tr {
    font-size: 14px;
}

.hiddenRow {
    padding: 0 !important;
}

td {
  word-break: break-all;
}

td {
  word-break: break-all;
}