.navbar-brand {
    font-size: 32px;
}


.img {
    margin: 5px auto;
}

.navbar {
    margin-bottom: 20px;
}

.navbar li {
    margin: 5px;
}

body {
    font-family: 'Montserrat';
}

th {
    font-size: 20px;
}

tr {
    font-size: 14px;
}

.first-place {
    background-color: gold;
}

.second-place {
    background-color: silver;
}

.third-place {
    background-color: #cd7f32;
}