<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dog Lettuce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<main>
    {% extends "template.html" %}

    {% block content %}
        <div class='container'>
            <div class='row'>
                <div class='col-md-12'>
                    <div class="page-header">
                        <h1 class="text-center">Current Competition</h1>
                        <h4 class="text-center">Challenge #1: Umineko (zts/07th Expansion/-45, etc)</h4>
                        <ul class="text-center" style="list-style-type:none">
                            <li>Objective:
                                Fill the Top 8 of as many Umineko maps as you can!</li>
                            <li> Duration:
                                Saturday, October 26th (17:17 UTC) - Friday, November 1st (00:00 UTC)</li>
                            <li>Prize:
                                The person with the most top 8's will receive 3 months of supporter!
                                2nd and 3rd will receive 1 month of supporter each!</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Time remaining:</h3>
                </div>
            </div>
            <div class="row h4">
                <div class="col-md-12">
                    <div class="text-center" id="countdown">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Last update: {{last_update}} UTC</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <tr>
                            {% for col in column_names %}
                            <th scope="col" class="text-center">{{col}}</th>
                            {% endfor %}
                        </tr>
                        {% for row in row_data %}
                        <tr scope="row" class="text-center">
                            {% for col, row_ in zip(column_names, row) %}
                            <td>{{row_}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
    </main>